@import './variables';
@import './libs/normalize';
// @import './components/all';

body {
  background-color: var(--grey-1);

  font-weight: 600;

  .wrapper {
    button {
      cursor: pointer;
    }

    .container {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .header {
      background-color: var(--whiteD);
      &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
      }

      &__logo {
        font-weight: 900;
        font-size: $font-size-l;
        font-size: $base-font-size * 1.3;

        svg {
          position: relative;
          top: 2px;
          left: 8px;
        }
        span {
          color: var(--logos);
          font-weight: 10000;
          // background-color: var(--grey-1);
          padding: 5px 5px 3px 5px;
          padding: 7px;
          border-radius: 10px;
          margin-right: 3px;

          &:hover {
            background-color: var(--grey-1);
          }
        }
        // border-radius: 10px;
      }

      &__right {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: $font-size-s;
        position: relative;

        &__authorization {
          display: flex;
          height: 100%;
        }

        &__userInfo {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: transparent;
          border: none;

          .header__fullName {
            padding: 0 5px;
            color: var(--text);
          }

          .header__avatar {
            margin: 0 10px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
          }

          a {
            height: 100%;
          }
        }

        a {
          margin-left: 10px;
          display: flex;
          align-items: center;
          color: var(--text);
          padding: 8px 15px;
          border-radius: 15px;

          padding: 0px 15px;
          border-radius: 0;
          margin-left: 0;

          &:hover {
            background-color: $grey-2;
            cursor: pointer;
          }

          &:active {
            color: $primary;
          }
        }

        .settings {
          display: flex;
          align-items: center;
          border: none;
          padding: 8px;
          border-radius: 50%;

          height: 100%;
          border-radius: 0;
          padding: 0 20px;
          background-color: var(--whiteD);
          color: var(--text);
          .settingsSvg {
            height: 20px;
            width: 20px;
            transition: 0.2s all ease-in-out;
          }

          &:hover {
            // background-color: $primary;
            // color: $white;
            .settingsSvg {
              transform: rotate(90deg);
            }
          }
        }

        .settings__popup {
          position: absolute;
          top: 50px;
          right: -46px;
          width: 150px;
          background-color: var(--whiteD);
          border-radius: 0 0 10px 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-shadow: 0px 17px 17px 0px var(--box-shadow);
          padding-bottom: 8px;

          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;

          .popup-element {
            text-align: center;
            width: 150px;
            color: var(--text);
            padding: 10px;
            white-space: nowrap;
            cursor: pointer;
            // border: 1px solid $primary;

            &:hover {
              // background-color: darken($primary, 3);
              background-color: var(--grey-2);
              // border-radius: 10px;
            }
          }
        }
      }
    }

    .content {
      display: flex;
      padding-top: 20px;
      // justify-content: space-between;
    }

    .navigation {
      display: flex;
      flex-direction: column;
      margin-right: 20px;

      &__element {
        padding: 6px;
        font-size: $font-size-s;
        display: flex;
        align-items: center;

        p {
          color: var(--text);
        }
        &:hover {
          background-color: var(--grey-2);
          border-radius: 10px;
        }

        svg {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          color: var(--logos);
        }
      }
    }

    .profile {
      display: flex;
      flex-direction: column;
      flex: 1;

      .profile__block {
        background-color: var(--whiteD);
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 30px;
      }

      .userInfo {
        display: flex;
        align-items: center;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          margin-right: 30px;
        }
        p {
          color: var(--text);
        }

        &__center {
          .fullName {
            margin-bottom: 10px;
            font-size: $font-size-l;
            font-weight: 600;
          }

          .status {
            font-size: $font-size-s;
            margin-bottom: 10px;
          }

          .location {
            display: flex;
            align-items: center;
            color: var(--text-grey);
            font-size: $font-size-s;

            svg {
              width: 20px;
              position: relative;
              left: -2px;
              // margin-right: 5px;
              color: var(--text-grey);
            }
          }
        }

        &__right {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          text-align: center;

          .inFriends {
            display: flex;
            flex-direction: column;
            p {
              text-align: center;
            }
          }
          .button {
            // font-size: $base-font-size;
            margin-top: 10px;
            display: flex;
            align-items: center;
            color: var(--logos);
            display: flex;
            justify-content: center;
          }
        }
      }

      &__content {
        display: flex;
        justify-content: space-between;
        &__left {
          flex: 0 0 60%;

          .createPost {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .createPostLeft {
              display: flex;
              align-items: center;
              flex: 1;
            }

            input {
              padding: 10px;
              border: none;
              width: 90%;
              background-color: var(--whiteD);
              color: var(--text);
            }

            .createPostRight {
              display: flex;
              align-items: center;

              .button {
                margin-left: 20px;
              }

              .addFileBtn {
                background-color: var(--whiteD);
                border: none;

                svg {
                  width: 20px;
                  height: 20px;
                  color: var(--text-grey);
                }
              }
            }

            img {
              margin: 0 10px;
              height: 30px;
              width: 30px;
              border-radius: 50%;
            }
          }

          // posts ===============================================
        }

        &__right {
          flex: 0 0 38%;

          .block {
            a {
              color: var(--text);
            }

            span {
              color: var(--text-grey);
              font-size: $font-size-s;
              margin-left: 10px;
            }

            .friendsRaw {
              margin-top: 10px;
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;

              .friend {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;

                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  margin-bottom: 10px;
                }

                p {
                  font-size: $font-size-s;
                  color: var(--text);
                }
              }
            }
          }
        }
      }
    }
    .button {
      background-color: var(--secondary);
      color: var(--primary);
      border: none;
      font-size: $font-size-s;
      padding: 10px 15px;
      border-radius: 10px;
      font-weight: 700;
      cursor: pointer;
      text-align: center;

      &:hover {
        background-color: var(--darkenButt);
      }

      &:active {
        background-color: var(--darkenButt);
      }
    }

    .allPosts {
      &__title {
        font-size: $base-font-size;
        margin-bottom: 20px;
      }

      .post {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        p {
          color: var(--text);
        }

        .postTop {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;

          .postTopLeft {
            display: flex;
            align-items: center;

            img {
              margin-right: 10px;
              height: 40px;
              width: 40px;
              border-radius: 50%;
            }

            .postUser {
              display: flex;
              flex-direction: column;
              p {
                font-size: $base-font-size;
                margin-bottom: 4px;
                color: var(--text);
              }
              .createdAt {
                color: var(--text-grey);
                font-size: $font-size-s;
              }
            }
          }
        }

        .postTopRight {
          position: relative;

          .postEdit {
            width: 25px;
            color: var(--text-grey);

            cursor: pointer;
          }
          .postPopup {
            top: 25px;
            left: -65px;
            position: absolute;
            background-color: var(--whiteD);
            border-radius: 10px;
            padding: 8px 0;
            box-shadow: 0px 17px 17px 0px var(--box-shadow);
            z-index: 2;

            p {
              padding: 10px;
              font-size: $font-size-s;
              text-align: center;
              width: 160px;
              white-space: nowrap;
              color: var(--text);

              &:hover {
                background-color: var(--grey-2);
              }
            }
          }
        }
      }

      .postContent {
        .postImage {
          max-width: 100%;
          border-radius: 10px;
          margin-bottom: 10px;
        }
        .postText {
          font-size: $font-size-s;
          // font-size: $base-font-size;
          line-height: 1.2rem;
          margin-bottom: 10px;
        }
      }

      .postBottom {
        display: flex;
        justify-content: space-between;

        &__left {
          display: flex;

          .button {
            display: flex;
            align-items: center;
            margin-right: 10px;

            svg {
              width: 20px;
              margin-right: 10px;
            }

            p {
              color: var(--primary);
              // font-size: $base-font-size;
              font-weight: 700;
              min-width: 9px;
            }
          }

          .liked {
            background-color: var(--lightRed);

            color: var(--red);

            p {
              color: var(--red);
            }
          }
        }

        &__right {
          display: flex;
          align-items: center;

          svg {
            width: 20px;
            margin-right: 7px;
            color: var(--text-grey);
          }

          .viewsCount {
            font-size: $font-size-s;
            position: relative;
            top: 1px;
            color: var(--text-grey);
          }
        }
      }
    }

    .news {
      flex: 1;
      display: flex;

      &__left {
        flex: 0 0 60%;
      }
    }

    .block {
      background-color: var(--whiteD);
      padding: 20px;
      border-radius: 20px;
      margin-bottom: 30px;
    }

    .signUp {
      margin: 100px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: absolute;
      // top: 100px;
      left: 0;
      right: 0;

      top: 0;
      bottom: 0;
      transform: translateY(-20px);

      .window {
        padding: 40px 70px;
        background-color: var(--whiteD);
        border-radius: 20px;
        box-shadow: 0px 17px 17px 0px var(--box-shadow);
        .title {
          font-size: $font-size-l;
          margin-bottom: 30px;
          color: var(--text);
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          input {
            margin-bottom: 30px;
            border: none;
            padding: 10px;
            // background-color: $secondary;
            border-radius: 10px;
            font-size: $base-font-size;
            background-color: $grey-1;
            width: 100%;
            border: 1px solid var(--border);
            background-color: transparent;
            color: var(--text);
          }

          .button {
            padding: 10px 60px;
            font-weight: normal;
            font-size: $base-font-size;
            margin-bottom: 15px;
          }
        }

        .already {
          color: var(--text-grey);

          font-size: $font-size-s;
        }
      }
    }
  }

  .comments {
    padding-top: 10px;
    margin-top: 15px;
    border-top: 1px solid var(--border);

    .comment {
      padding: 10px;
      margin-bottom: 5px;

      .commentTop {
        display: flex;
        justify-content: space-between;
        .commentTopLeft {
          display: flex;
          align-items: center;
          .commentAvatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 7px;
          }
          .commentUser {
            .commentName {
              font-size: 12px;
              margin-bottom: 3px;
            }
            .comment-createdAt {
              font-size: 10px;
              color: var(--text-grey);
            }
          }
        }
      }
    }
    .commentText {
      font-size: $font-size-s;
      margin-top: 5px;
      margin-left: 37px;
      color: var(--text);
    }

    .addComment {
      display: flex;
      align-items: center;
      margin-top: 10px;

      img {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }

      input {
        border: 1px solid var(--border);
        border-radius: 10px;
        padding: 10px;
        flex: 1;
        background-color: var(--whiteD);
        color: var(--text);
      }

      .button {
        margin-left: 10px;
      }
    }
  }
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: black;
  }
}

.editProfile {
  flex: 0 0 50%;
  background-color: var(--whiteD);
  border-radius: 20px;
  padding: 20px;

  &__top {
    padding: 5px 0;
  }

  &__content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    .profileElement {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      position: relative;

      input {
        background-color: var(--whiteD);
        color: var(--text);
      }

      img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        margin-right: 20px;

        // &:hover {
        filter: brightness(0.6);
        // }
      }

      .svgAddPhoto {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 33px;
        left: 34px;
        color: $white;
      }

      .svgCart {
        width: 20px;
        height: 20px;
        color: rgb(255, 78, 78);
        position: absolute;
        left: 100px;
        top: 76px;
        transition: 0.1s all ease-in-out;

        &:hover {
          color: lighten(rgb(255, 78, 78), 5%);
          scale: 1.2;
        }

        &:active {
          // transform: rotate(360deg);
          // transition: 0.2s all ease-in-out;

          // scale: 1.2;
          scale: 1.4;
        }
      }

      p {
        margin-right: 10px;
        font-size: $font-size-s;
        color: var(--text-grey);

        min-width: 60px;
      }

      input {
        border: 1px solid var(--border);
        border-radius: 10px;
        padding: 10px;
        width: 300px;
        font-size: $font-size-s;
      }

      &__left {
        display: flex;
        align-items: center;
        margin-right: 20px;
        p {
          margin-right: 10px;
        }
        input {
          width: 150px;
        }
      }
      &__right {
        &-item {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
        }

        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        p {
          margin-right: 10px;
        }
        input {
          width: 150px;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;

    svg {
      width: 32px;
      height: 32px;
      position: absolute;
      right: 120px;
      color: rgb(49, 219, 49);
      background-color: #faf1ff;
      border-radius: 10px;

      background-color: var(--secondary);
      color: $primary;
      border: none;
      font-size: $font-size-s;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.friends {
  flex: 1;
  display: flex;
  .innerFriends {
    flex: 0 0 60%;
  }

  .title {
    margin-bottom: 10px;
    color: var(--text);
  }

  .friendList {
    &__item:first-child {
      border-top: none;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 15px 0;
      border-top: 1px solid var(--border);

      &__left {
        display: flex;
        align-items: center;
        flex: 1;
      }

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 20px;
      }

      &__center {
        .fullName {
          margin-bottom: 10px;
          color: var(--text);
        }

        .status {
          font-size: $font-size-s;
          color: var(--text-grey);
        }
      }

      &__right {
        position: relative;
        align-self: flex-start;

        .postEdit {
          width: 25px;
          color: var(--text-grey);
          cursor: pointer;
        }

        .postPopup {
          top: 25px;
          left: -65px;
          position: absolute;
          background-color: var(--whiteD);
          border-radius: 10px;
          padding: 8px 0;
          box-shadow: 0px 17px 17px 0px var(--box-shadow);
          z-index: 2;

          p {
            padding: 10px;
            font-size: $font-size-s;
            text-align: center;
            width: 160px;
            white-space: nowrap;
            color: var(--text);

            &:hover {
              background-color: var(--grey-2);
            }
          }
        }
      }
    }
  }
}

.messenger {
  flex: 1;
  display: flex;

  .conversations {
    flex: 0 0 60%;

    .search {
      // border-bottom: 1px solid var(--border);
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      svg {
        width: 20px;
        color: var(--text-grey);
        margin-right: 5px;
      }

      input {
        background-color: transparent;
        color: var(--text);
        border: none;
        padding: 5px;
      }
    }

    .conversationElement {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid var(--border);
      padding: 15px 0;

      .conversation__left {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 15px;
        }
      }
      .conversation__center {
        .fullName {
          color: var(--text);
          margin-bottom: 7px;
        }
        .lastMessage {
          color: var(--text-grey);
          font-size: $font-size-s;
        }
      }
      .conversation__right {
        flex: 1;
        color: var(--text-grey);
        text-align: right;
        font-size: $font-size-s;
      }
    }
  }
}

.conversation {
  flex: 1;
  display: flex;
  height: calc(100vh - 70px);

  .conversationLeft {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;

    .conversation__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--border);
      padding-bottom: 10px;

      .back {
        p {
          color: var(--text-grey);
        }
      }

      .fullName {
        color: var(--text);
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .conversation__content {
      display: flex;
      flex-direction: column;
      // justify-content: flex-end;
      position: relative;
      overflow: scroll;

      .empty {
        text-align: center;
        color: var(--text-grey);
        // margin-top: 200px;
        position: absolute;
        top: 250px;
        left: 0;
        right: 0;
      }

      padding-top: 10px;
      flex: 1;
      font-size: $font-size-s * 1.1;
      .messageToMe {
        display: flex;
        align-items: center;
        padding: 15px 10px;

        .creator {
          margin-bottom: 4px;
          color: var(--logos);
        }
        p {
          color: var(--text);
        }
        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      .messageFromMe {
        display: flex;
        justify-content: flex-end;

        padding: 15px 10px;

        align-items: center;
        p {
          color: var(--text);
        }
        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-left: 10px;
        }
      }
    }
    .conversation__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;

      input {
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid var(--border);
        color: var(--text);
        flex: 1;
        margin-right: 20px;
        padding: 10px;
      }
    }
  }
}
